.cnc-dialog-content {
	display: none;
	position: absolute;
	margin: 20px auto;
	width: 100%;
	top: 0;
}
.cnc-dialog-content.opened {
	display: block;
}

.cnc-popup-content {
	position: relative;
	z-index: 10;
	width: auto;
	max-width: 800px;
	margin: 0 auto;
	background: #fff;
	padding: 40px 25px 25px;
}

.cnc-dialog-content.opened .overlay {
	background: #222;
	opacity: 0.8;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.cnc-popup-content .popup-close {
	color: #333;
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;

	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65;
	font-style: normal;
	font-size: 28px;
	font-family: Arial,Baskerville,monospace;

	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
